Xft.dpi: 192

URxvt.allow_bold: true
URxvt.font: xft:MesloLGS NF:autohint=true:size=11
URxvt*letterSpace: -1

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.transparency: True
URxvt*shading: 10
URxvt*tintColor: #000000
URxvt*blurRadius: 5
URxvt.scrollBar: False
